# *****************Python - Part 1*************************************

<span style="color:blue">Python is a high-level, interpreted, and general-purpose programming language.               
It was created by Guido van Rossum and first released in 1991.                                    
Python is known for its simplicity, readability, and versatility, making it a popular choice for beginners and experienced programmers .

# Python Operators Precedence Rule - PEMDAS

<span style="color:green"> 
Sure! PEMDAS is an acronym that stands for the order of operations in arithmetic expressions:

Parentheses               
Exponents (or Powers)                  
Multiplication and Division (from left to right)                   
Addition and Subtraction (from left to right)   
    
<span style="color:green">Multiplication and division have the same precedence,and the same goes for addition and subtraction.                             
When a division operator appears before multiplication, division goes first.</span>.

In [1]:
result = (10 - 2) * 4 / 2 + 8 ** 2
print(result)

80.0

# / vs // — division vs floor division

<span style="color:green"> Division (/): Always returns a floating-point result, even if both operands are integers.                 
Floor Division (//): Always returns an integer result, truncating the fractional part.

In [2]:
print("Regular division")
print(15 / 3, "\t is a float.")
print(15 / 4, "\t is a float.")

print("\nFloor division")
print(15 // 4, "\t is an int.")
print(-15 // 4, "\t is an int.")
print(15.0 // 4, "\t is a float.")

Regular division
5.0 	 is a float.
3.75 	 is a float.

Floor division
3 	 is an int.
-4 	 is an int.
3.0 	 is a float.

# DATA TYPES- BOOLEAN

<span style="color:blue"> TRUE-considered as 1 for operation.</span>.

<span style="color:blue"> FALSE-considered as 0 for operation.</span>.

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
print(1<2)
print(True is False)
print("b"is"c")
print(10 is 11)
print(True + False)
print(True + True)
print(True and False or True)
print(3* False)
print(-3.1* True)

True
False
False
False
1
2
True
0
-3.1

<span style="color:blue">Almost any value is evaluated to True if it has some sort of content.

In [7]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

<span style="color:blue">Any string is True, except empty strings.

In [8]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

<span style="color:blue">Any list, tuple, set, and dictionary are True, except empty ones.

In [9]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

<span style="color:blue">Any number is True, except 0.

In [10]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

# Multiply with int and non-int

In [29]:
print("xyz"*3)
print(5*3.0)

xyzxyzxyz
15.0

<span style="color:red">Can't multiply sequence /string  by non-int               
print("xyz"*3.0)                           
print("5"*3.0)

# KEYWORD

<span style="color:green">Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers:

In [14]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

<span style="color:blue">
"None" = This is a sepecial constant used to denoate a null value or a void .
 Any Empty Container does not compute to None.

In [15]:
print(None==[])

False

# Comments

In [30]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [31]:
# This is a multi-line comment.
# You can add comments on multiple lines
# by placing the hash character (#) at the beginning of each line.
print("Hello, World!")

Hello, World!

# Variables

<span style="color:green">Variables are containers for storing data values.

<span style="color:blue">Should not start with number and symbol(except underscore)

<span style="color:green">An identifier is a user-defined name to represent a variable, a function, a class, a module, or any other object.

In [32]:
_ni=80
print(_ni)

80

# Checking Data Type

In [33]:
print(type(_ni))

<class 'int'>

In [51]:
print("Day"+2)

TypeError: can only concatenate str (not "int") to str

In Python, you cannot directly concatenate a string and an integer using the + operator. Attempting to concatenate a string and an integer directly will result in a TypeError.

If you want to concatenate the string "Day" with the integer 2 and print the result, you can convert the integer to a string using the str() function before performing the concatenation.

In [35]:
print("Day"+str(2)) #you can convert int into string but not vice versa

Day2

# STRUCTURES

<span style="color:blue">four built-in (general) data structures in python namely -
    
    . lists
    . dictionaries
    . tuples 
    . sets

<span style="color:green">1 List is a collection which is ordered and changeable. Allows duplicate members.              
<span style="color:green">2 Tuple is a collection which is ordered and unchangeable. Allows duplicate members.               
<span style="color:green">3 Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members. 
    
<span style="color:green">4 Dictionary is a collection which is ordered** and changeable. No duplicate members.

<span style="color:blue">user-defined data structures in python like
    
stacks,  
queues,  
trees,    
linked lists,   
graphs,   
hashmaps.

# List

<span style="color:green">.Accept all type of Data  
    .Lists are created using square brackets   
    .Mutable

<span style="color:blue">Creating empty List    
   
 -by square bracket or by using list()

In [36]:
nimo=[]
print(nimo)
nimo1=list()
print(nimo1)

[]
[]

In [37]:
ni=["a",10,5.1]
ni

['a', 10, 5.1]

In [46]:
list("nimo")#only for text

['n', 'i', 'm', 'o']

In [39]:
ni=list("a",10,5.1) #list expected at most 1 argument, but here we got 3,hence error occured
ni

TypeError: list expected at most 1 argument, got 3

In [40]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

<span style="color:blue">Copying list to another list

In [44]:
# first way to copy list
mo=list(thislist)
mo

['apple', 'banana', 'cherry']

In [45]:
# second way to copy list
mo=thislist.copy()
mo

['apple', 'banana', 'cherry']

In [49]:
list(4856)

TypeError: 'int' object is not iterable

'''In Python, you cannot directly convert an integer into a list using the list() function, 
   as it expects an iterable as an argument, and integers are not iterable'''

<span style="color:blue">SOME methods are-

<span style="color:green"> APPEND - add element data at last position

In [52]:
employee=[] #creating empty list

employee.append("nimo")

print(employee)

['nimo']

In [53]:
employee.append("sud")
employee.append("shiv")
print(employee)

['nimo', 'sud', 'shiv']

<span style="color:green">INDEX AND INSERT -add data on desired index    
    syntax= insert(index,element)

In [54]:
employee.insert(1,"priyanka")
employee.insert(5,"sonam")
print(employee)

['nimo', 'priyanka', 'sud', 'shiv', 'sonam']

<span style="color:green"> len()- to check the length of list

In [55]:
len(employee)

5

<span style="color:green">INDEXING & SLICING

In [56]:
# FETCH ANY ELEMENT

employee[1]

'priyanka'

In [57]:
#REASSIGNING THE NAME/UPDATE

employee[1] ="sakhi"
print(employee)

['nimo', 'sakhi', 'sud', 'shiv', 'sonam']

In [58]:
# FETCHING MULTIPLE/RANGE DATA

emp_salary=[100,200,300,400,500]
emp_salary[1:]

[200, 300, 400, 500]

In [59]:
emp_salary[2:3]

[300]

In [60]:
emp_salary[:3]

[100, 200, 300]

In [61]:
#CANCATENATION THE DATA

emp_salary= emp_salary + [800]
emp_salary

[100, 200, 300, 400, 500, 800]

<span style="color:green">COUNT-Frequency of element

In [62]:
num=[1,1,2,1,5,6,4,1,0]
num.count(1)

4

<span style="color:green">INDEX-to get the index no. by element

In [63]:
num.index(1) # here 1 occurs  4 times but python identify the 1st one

0

<span style="color:green">EXTEND-extends list by appending elements from the literals

In [64]:
num=[1,1,2,1,5,6,4,1,0]
num.extend(["roma","nitin"])
num

[1, 1, 2, 1, 5, 6, 4, 1, 0, 'roma', 'nitin']

<span style="color:BLUE">.append() adds an element to a list,
whereas .extend() concatenates the first list with another list/iterable.

In [65]:
num.extend("DON")
num

[1, 1, 2, 1, 5, 6, 4, 1, 0, 'roma', 'nitin', 'D', 'O', 'N']

<span style="color:BLUE">Keep in mind that a string is an iterable, so if you extend a list with a string, you'll append each character as you iterate over the string (which may not be what you want):

In [66]:
num.extend(["DON"])
num

[1, 1, 2, 1, 5, 6, 4, 1, 0, 'roma', 'nitin', 'D', 'O', 'N', 'DON']

<span style="color:green">POP- deleting the last element from the list by default if we not 
mentioning the index no.

In [67]:
num

[1, 1, 2, 1, 5, 6, 4, 1, 0, 'roma', 'nitin', 'D', 'O', 'N', 'DON']

In [68]:
num.pop()

'DON'

In [69]:
num

[1, 1, 2, 1, 5, 6, 4, 1, 0, 'roma', 'nitin', 'D', 'O', 'N']

In [70]:
print(num.pop(2))
print(num)

2
[1, 1, 1, 5, 6, 4, 1, 0, 'roma', 'nitin', 'D', 'O', 'N']

<span style="color:green"> REMOVE -Remove the first occurence of a value , i.e remooval of dublicate no.

In [71]:
num.remove(1)
num

[1, 1, 5, 6, 4, 1, 0, 'roma', 'nitin', 'D', 'O', 'N']

<span style="color:green"> REVERSE-Usedto reverse the list

In [72]:
new_num = [1,2,5,8,9,50]
new_num.reverse()
print(new_num)

[50, 9, 8, 5, 2, 1]

<span style="color:green">SORT-it will sort your list.
#by default sort in ascending order

In [73]:
num1=[5,60,50,40,22]
num1

[5, 60, 50, 40, 22]

In [74]:
num1.sort()
num1

[5, 22, 40, 50, 60]

In [75]:
#sort in decending order
num1.sort(reverse=True)
num1

[60, 50, 40, 22, 5]

# LIST(PRACTISE)

In [76]:
list1 = [1, 5, 9]
sum(list1)

15

In [77]:
a=[1,2,3]
b=a.append(4)
print(a)
print(b)
#Explanation: Append function on lists doesn’t return anything. Thus the value of b is None.

[1, 2, 3, 4]
None

In [78]:
a=[14,52,7]
b=a.copy()
b is a
#Explanation: List b is just a copy of the original list. Any copy made in list b will not be reflected in list a.

False

In [79]:
a=[13,56,17]
a.append([87])
a.extend([45,67])
print(a)

[13, 56, 17, [87], 45, 67]

In [80]:
word1="Apple"
word2="Apple"
list1=[1,2,3]
list2=[1,2,3]
print(word1 is word2)
print(list1 is list2)
"IS operator checks whether both operands refer to the same memory location or not. 
"EQUALITY(==) just compare the values of both operands equal or not
"if u assign list1 = list 2 in above you use IS operator (list1 is list2) it will give TRUE"

SyntaxError: EOL while scanning string literal (483877549.py, line 7)

In [81]:
points = [[1, 2], [3, 1.5], [0.5, 0.5]]
points.sort()
print(points)

[[0.5, 0.5], [1, 2], [3, 1.5]]

In [82]:
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
 
print(data[1][0][0])

5

In [83]:
numbers = [1, 2, 3, 4]
 
numbers.append([5,6,7,8])
 
print(len(numbers))

5

In [84]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

"After applying the sort() method to the list, the elements are arranged in ascending order
 based on their lexicographical order. Therefore, "Kiwi" comes before "Orange," which comes before "banana," 
 and finally "cherry" comes last."
 In lexicographical order, uppercase letters are considered before lowercase letters.

# TUPLES

-Inside in ()
-accept all type of Data
-but is immutable(cant change)

In [85]:
work=("delhi","mumbai","katihar","patna")
work.append("kolkata")
work

AttributeError: 'tuple' object has no attribute 'append'

<span style="color:BLUE">Becoz tuple is immutable.first change Tuple in list

In [86]:
#converting tuple into list
work=("delhi","mumbai","katihar","patna")
work=list(work)
work.append("kolkata")
work=tuple(work)#converting list into tuple
work

('delhi', 'mumbai', 'katihar', 'patna', 'kolkata')

In [87]:
#change the data
work=("delhi","mumbai","katihar","patna")
work=list(work)
work[1]="bhopal"
work=tuple(work)#converting list into tuple
work

('delhi', 'bhopal', 'katihar', 'patna')

In [88]:
len(work)

4

<span style="color:green">ONLY TWO METHOD OF TUPLE   -                 
INDEX AND COUNT

In [89]:
num=(20,21,22,20)
num.index(21)

1

In [90]:
num.count(20)

2

<span style="color:green">Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [91]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

<span style="color:green">The del keyword can delete the tuple completely:

In [92]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# PRACTISE TUPLE

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [93]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

# SETS

<span style="color:green">-No dublicate     
-arrange in assending order           
  -mutable    
    Note: Sets are unordered, so you cannot be sure in which order the items will appear.

In [94]:
#create empty set 
roll_num=set()

<span style="color:blue">Change Items--------
Once a set is created, you cannot change its items, but you can add new items.

<span style="color:blue">add() method-

In [95]:
roll_num.add(1)
roll_num

{1}

In [96]:
roll_num.add(4)
roll_num.add(6)
roll_num.add(2)
roll_num

{1, 2, 4, 6}

In [97]:
roll_num.add(4)#repetion is not allowed
roll_num

{1, 2, 4, 6}

<span style="color:blue">To add more than one item to a set use the update() method.

In [98]:
roll_num.update({10,11,22})
roll_num

{1, 2, 4, 6, 10, 11, 22}

<span style="color:blue">Remove Item-
To remove an item in a set, use the remove(), or the discard() method.

In [99]:
rm_set = {"apple", "banana", "cherry"}

rm_set.remove("banana")

print(rm_set)    # Output: {"apple", "cherry"} order of element is changing everytimes

{'cherry', 'apple'}

<span style="color:green"> Note: If the item to remove does not exist, remove() will raise an error.

In [100]:
rm_set.remove("kela")
print(rm_set)

KeyError: 'kela'

Remove “kela” by using the discard() method:

In [101]:
rm_set.discard("kela") #Note: If the item to remove does not exist, discard() will NOT raise an error.
print(rm_set)

{'cherry', 'apple'}

<span style="color:blue">How to remove the dublicate in List?           
By using set(list)

In [102]:
list_1=[1,2,3,3,3,4,4,5,90]
my_set=set(list_1)
my_set

{1, 2, 3, 4, 5, 90}

In [103]:
#again u can convert into list
list_1=list(my_set)
print(list_1)
print(type(list_1))
# "u can do same for string as well"

[1, 2, 3, 4, 5, 90]
<class 'list'>

<span style="color:blue">Access Items: You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [105]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
cherry
apple

In [106]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Dictionary

<span style="color:green">A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [107]:
dict_1={"key1":'value1',"key2":'value2'}

<span style="color:blue">Call values by their key

In [108]:
dict_1["key2"]

'value2'

In [109]:
dict_1["key3"]# Since “key3” is not a key in the set, Python raises a KeyError exception

KeyError: 'key3'

<span style="color:green">Note-dictionary can accept any data type

In [110]:
dict_2={"roll":121,"marks":[55,56,57],"sub":["comp","sci","maths"]}

#if u keep more than 1 value then u can put in list[]

<span style="color:blue">Lets call items from the dictionary

In [111]:
dict_2["sub"]

['comp', 'sci', 'maths']

<span style="color:blue">Lets call an index on that value from the dictionary

In [112]:
dict_2["sub"][1]

'sci'

<span style="color:blue">Lets call the value in uppercase and lower case

In [113]:
dict_2["sub"][1].upper()  #for lower case use.lower()

'SCI'

In [114]:
dict_2["marks"]

[55, 56, 57]

<span style="color:blue">Lets add marks to the first element

In [115]:
dict_2["marks"][1]=dict_2["marks"][1]+4
dict_2["marks"]

[55, 60, 57]

In [116]:
#another way of adding
dict_2["marks"][0]+=5
dict_2["marks"]

[60, 60, 57]

In [117]:
#another way of subtracting
dict_2["marks"][2]-=7
dict_2["marks"]

[60, 60, 50]

<span style="color:blue">Add new key

In [118]:
dict_2["remark"]="B"
dict_2

{'roll': 121,
 'marks': [60, 60, 50],
 'sub': ['comp', 'sci', 'maths'],
 'remark': 'B'}

<span style="color:blue">Update value

In [119]:
dict_2.update({"roll":100})
dict_2

{'roll': 100,
 'marks': [60, 60, 50],
 'sub': ['comp', 'sci', 'maths'],
 'remark': 'B'}

<span style="color:blue">ITEMS()-method will return both key and corresponding values

In [120]:
dict_2.items()

dict_items([('roll', 100), ('marks', [60, 60, 50]), ('sub', ['comp', 'sci', 'maths']), ('remark', 'B')])

<span style="color:blue">KEYS()- method will give only keys

In [121]:
dict_2.keys()

dict_keys(['roll', 'marks', 'sub', 'remark'])

<span style="color:blue">VALUES()-method will give only values

In [122]:
dict_2.values()

dict_values([100, [60, 60, 50], ['comp', 'sci', 'maths'], 'B'])

# DICTONARY PRACTISE

In [123]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 > d2
#Arithmetic > operator cannot be used with dictionaries.

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [55]:
a={1:"A",2:"B",3:"C"}
print(a.get(1,4))
'''
Explanation: The get() method returns the value of the key if the key is present in the dictionary
    and the default value(second parameter) if the key isn’t present in the dictionary.
'''

A

In [56]:
a={1:"A",2:"B",3:"C"}
print(a.get(5,4))

4

get() Parameters
get() method takes maximum of two parameters:

key - key to be searched in the dictionary             
value (optional) - Value to be returned if the key is not found. The default value is None.

In [58]:
a={1:5,2:3,3:4}
print(a.pop(4,9))

#Explanation: pop() method returns the value when the key is passed as an argument and 
#otherwise returns the default value(second argument) if the key isn’t present in the dictionary.

9

<span style="color:red">****************